@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

* {
    font-family: arial;
    color: white;
}

body {
    background-color: #0a0a0a;
    width: 450px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button, input {
    background-color: #ff0000;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 15px;

    &:hover, &:active {
        background-color: #ff1d1d;
        cursor: pointer;
    }

    &.circle {
        height: 40px;
        width: 40px;
        padding: 5px;
    
        border-radius: 50%;

        img {
            animation: 'spin' 4 linear 0 infinite;
            animation-play-state: paused; 
            width: 20px;

            &:hover {
                animation-play-state: running; 
            }
        }

        &.small {
            height: 30px;
            width: 30px;

            img {
                width: 12px;
            }
        }
    }
}

#controls {
    flex-direction: row;
    align-items: center;
    display: flex;
    gap: 10px;
}

#version {
    color: gray;
    font-size: 10px;
}

#saved-tabs  {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

#tabs {
    gap: 10px;
}

#tabs, .tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 20px;
}

.tabs {
    /* background-color: #353535; */
    border-radius: 5px;
    padding: 15px;
    width: inherit;

    p {
        margin: 0;
    }
}

.tabGroup {
    background-color: #0f0f0f /* #202020 */ ;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 5px;
    padding: 10px 20px;
    gap: 10px;

    p {
        margin: 0;
    }
}

.vr {
    height: 100%;
    width: 2px;
    border-radius: 1px;
    background-color: #FFFFFF20;
}